.jumbotron{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    background-image: url("https://i.imgur.com/RUEkGW2.jpg");
    background-size: cover;
  }
.bg{
  height: 100%;
  background-image: url("https://i.imgur.com/RUEkGW2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
  #mainCards{
      text-align: center;
  }
  #cardButtons{
      font-weight: bold;
  }
  #mainLoremP{
      text-align: center;
  }
  body{
    margin-top: 50px;
  }
